link(rel='stylesheet', href='/style.css')
div
    div#container
        span.icon-icon
        h1 #{name} server
            small  #{version}
        p
            strong Started:
            |  #{start}
            br
            strong Uptime:
            |  #{uptime} sec
